@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400&display=swap");

body {
  background-color: #2e1941;
  color: white;
  font-family: sans-serif;
}

h1 {
  font-weight: 400;
}
